@import "tailwindcss";

@theme {
  --color-brand: #3b82f6;
}

body {
  margin: 0;
  padding: 0;
  color: transparent;
  background-image: linear-gradient(to right, #3b82f6, #10b981);
}

.shadow-glow {
  box-shadow: 0 0 20px rgba(59, 130, 246, 0.5);
}
